<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
            
              <p><strong>Dog Fact</strong>: <%= dogFact.facts %></p>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">

            <!-- <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div> -->
          
          <div>
            <% if (profilePic) { %>
              <h2><%= profilePic.petName %></h2>
              <img class="img-fluid" src="<%= profilePic.image %>" alt="profile pic uploaded by user">

              <!-- Other profilePic-related content here -->
            <% } else { %>
              <h2>Your Pet's Name and Photo go here</h2>
              <!-- Render content when there is no profile picture -->
            <% } %>
          </div>
          
        
        
          <h2>Add/Change your pet's profile pic</h2>
            <form action="/profilePic/createProfilePic" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Pet's Name</label>
                  <input type="text" class="form-control" id="petName" name="petName">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div> 

          <div class="mt-5">
            <h2>Add your Pet's Document</h2>
            <form action="/documents/createDocument" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="documentName" class="form-label">Document Name</label>
                <input type="text" class="form-control" id="documentName" name="documentName">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="petDocument" class="form-label">Choose a Document</label>
                <input type="file" class="form-control" id="petDocument" name="file"> 
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <ul>
        <% for (var i = 0; i < documents.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/documents/<%= documents[i]._id %>">
              <%= documents[i].documentName %> 
            </a>
            <span><%= documents[i].description %></span>
          </li>
        <% } %>
      </ul>
      
      

      <div class="col-6">
        
      
        <!-- <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>   -->
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>